
// AWS_PROFILE
AWS_PROFILE=rhinodev

APP_URL=<dont need this if you are local>


// Service URLS and AUTH
FEEDER_BASIC_AUTH=
FEEDER_BASE_URL='http://localhost:7000/feeder/v1'
FEEDER_MI7_API_KEY=
API_BASIC_AUTH=
API_BASE_URL='http://localhost:9003/api/v2'
PAY_BASE_URL='http://localhost:6080/v1'
RHINO_EXTERNAL_API_BASE_URL='http://localhost:3006/api/v1'
RHINO_EXTERNAL_API_BASIC_AUTH=
API_BANDWIDTH_WEBHOOK_AUTH=

// Queues
AWS_SQS_LINER_INBOUND_URL='https://sqs.us-east-1.amazonaws.com/657744331605/shann-integration-inbound-develop.fifo'

// Rhinotilities aws configs
AWS_REGION='us-east-1'

//For Deleting org used in New Canary tests
RG_DEV_TOKEN=


// Test Phone Numbers
TEST_BANDWIDTH_NUMBER_ORG=+18432127343
TEST_BANDWIDTH_NUMBER_PATIENT=+16144012209
TEST_BANDWIDTH_NUMBER_UNKNOWN=+14052376915
TEST_BANDWIDTH_NUMBER_APPOINTMENT_REMINDER=+16144012209
TEST_BANDWIDTH_CHANNEL_NUMBER=+18032652923

// Mesenger bot config
MESSENGER_BASE_URL=https://messenger.dev-rhinogram.com/messenger
MESSENGER_BASIC_AUTH=

// Rhinotilities configs for bandwidth
BANDWIDTH_API_URL_BASE='https://api.catapult.inetwork.com/v1'
BANDWIDTH_APPLICATION_ID=
BANDWIDTH_SECRET=
BANDWIDTH_TOKEN=
BANDWIDTH_USER_ID=


// For Integration test cases
INTEGRATIONS_CCR_USERNAME='integrationstestccr'
INTEGRATIONS_CCR_PASSWORD=

// External Patient ID for appointment reminder tests
APPOINTMENT_PATIENT_EXTERNAL_ID=678


// For External API test cases
EXTERNALAPI_CCR_USERNAME='externalapitestccr'
EXTERNALAPI_CCR_PASSWORD=


//For Rhinopay Tests
RHINOPAY_CCR_USERNAME='rhinopaytestccr'
RHINOPAY_CCR_PASSWORD=


//For New Billing Organization
BILLING_CCR_USERNAME='billingtestccr'
BILLING_CCR_PASSWORD='billingtestccr'


//For New Canary Tests
NEW_CANARY_CCR_USERNAME='newcanarytestccr'
NEW_CANARY_CCR_PASSWORD=
NEW_CANARY_EXISTING_ORG_NAME="routing tester"

//Gmail Account creds for testing password reset email for new canary test
NEW_CANARY_GMAIL_USERNAME='rhinogramtests@gmail.com'
NEW_CANARY_GMAIL_PASSWORD=


//Existing org for tests
EXISTING_CANARY_CCR_USERNAME='existingcanarytestccr'
EXISTING_CANARY_CCR_PASSWORD=
EXISTING_ORG_BOT_CONTACT_NAME=
EXISTING_ORG_FACEBOOK_CONTACT_NAME=
EXISTING_ORG_BANDWIDTH_NUMBER_PATIENT=
EXISTING_ORG_BANDWIDTH_CHANNEL_NUMBER=

// Existing ORG for existing canary
EXISTING_ORG_ID=1

// Existing ORG channel ID
EXISTING_ORG_CHANNEL_ID=5

